<script>
	import { enhance } from '$app/forms';
	import { error } from '@sveltejs/kit';

	import { page, navigating } from '$app/stores';

	//$: session = $page.data.session;

	/**  @type {import('./$types').ActionData} */
	export let form;

	/**  @type {import('./$types').PageData} */
	export let data;

	const onKeyPress = (event) => {
		console.log(event.target.type == 'textarea');
		if (event.target.type != 'textarea') {
			if (event.code == 'Enter') {
				event.preventDefault();
			}
		}
	};

	import { goto } from '$app/navigation';
	let summ = '';
</script>

<div class="px-3 py-3 bg-slate-200">
	<p>Quiz - Начало</p>
	<div class="py-3">
		<span class="underline">Props data:</span>
		{JSON.stringify(data)}
	</div>
	<div class="py-2"><span class="underline">Props form:</span>{JSON.stringify(form)}</div>
	<h1 class="py-2">
		<p class="underline">$page</p>
		{JSON.stringify($page)} -->
	</h1>
	<p>Quiz - Конец</p>

	<form method="GET" on:submit={() => goto('/bye')}>
		<div>
			<button>SEND</button>
		</div>
	</form>
</div>

<div style="height:100vh" class="frm-container">
	<div class="frm">
		<form
			on:keypress={onKeyPress}
			method="POST"
			action="?/check={summ}"
			class="p-2 rounded-sm border-2 shadow-lg"
			use:enhance={({ form, data, action, cancel, controller, submitter }) => {
				//cancel();
				console.log(form);
				form.classList.add('cls');

				return async ({ result, update, form }) => {
					console.log('result?.data?', result);

					// `update` is a function which triggers the logic that would be triggered if this callback wasn't set
					await update({ reset: true });
				};
			}}
		>
			<div>
				<input type="number" name="answer" class="form-input" />
			</div>
			<div>
				<button formaction="?/check={summ}&act=plus" type="submit" class="btn">Plus</button>
			</div>
		</form>
		<div />
		<div>
			<code style="white-space: pre-wrap;">{@html form?.text}</code>
		</div>
	</div>
</div>

<style>
	.frm {
		display: flex;
		padding: 0 50px;
	}
	:global(.cls) {
		background-color: yellowgreen;
	}
	:global(.none) {
		display: none;
	}
	label {
		display: block;
	}
</style>
