<script>
	import { beforeNavigate, goto } from '$app/navigation';
	import { getStores, navigating, page, updated } from '$app/stores';
	import { enhance } from '$app/forms';
	import { fly, slide } from 'svelte/transition';

	/**
	 * @type {import('./$types').PageData}
	 */
	export let data;

	/**
	 * @type {import('./$types').ActionData}
	 */
	export let form;

	console.log('frm', form);

	let empty_data = '';
	let vis = false;
	$: if (form?.empty) {
		empty_data = 'Число не введено.';
		vis = true;
		setTimeout(() => {
			empty_data = '';
			vis = false;
		}, 1000);
	}

	beforeNavigate((navigation) => {
		console.log('NAV', navigation.from);
		//navigation.cancel();
	});

	const contin = () => {
		goto('/quiz/2');
	};
	console.log('page', $page.data, $page.form);
	let pval = '=/about/depart';
</script>

<div class="form-container">
	<p>status:{$page.status}</p>
	<p>updated:{$updated}</p>
	<p>data:{$page.data.attempt}</p>

	{#if vis}
		<p in:fly={{ y: 20 }} out:slide>{empty_data}</p>
	{/if}

	<h1>Quiz {data.randnum}--{data.attempt}</h1>
	<div class="frm">
		<form
			method="POST"
			action="?/check{pval}"
			use:enhance={({ form, action, cancel }) => {
				console.log(form);
				form.classList.add('cls');

				console.log('answ', form.answer.value);
				console.log('rand', data.randnum);
				console.log('att', data.attempt);

				return async ({ result, update }) => {
					// `result` is an `ActionResult` object
					console.log('res', result);
					// `update` is a function which triggers the logic that would be triggered if this callback wasn't set
					await update({ reset: false });
					//
				};
			}}
		>
			<div>
				<input type="number" name="answer" />
			</div>
			<div>
				<button type="submit">OK</button>
			</div>
		</form>
		<div>
			<div>{form?.somedata}</div>
			{#if form?.attempt_three}
				<p>Превышено кол-во попыток</p>
				<button on:click={contin}>Продолжить</button>
			{/if}
			Попытки:{data.attempt}
		</div>
	</div>
</div>

<style global>
	.frm {
		display: flex;
		padding: 0 50px;
	}
	.cls {
		background-color: yellowgreen;
	}
</style>
