<script>
	// import '../app.scss';
	import { page } from '$app/stores';
	import '../app.css';
	export let data;
</script>

<!-- https://css-tricks.com/how-to-use-tailwind-on-a-svelte-site/ -->

<div class="container px-6 lg min-h-screen" style="border:1px solid gray ">
	<div class="navbar sticky top-0 bg-base-100">
		<div class="navbar-start">
			<div class="dropdown">
				<label tabindex="0" class="btn btn-ghost lg:hidden">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="h-5 w-5"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
						><path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M4 6h16M4 12h8m-8 6h16"
						/></svg
					>
				</label>
				<ul
					tabindex="0"
					class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
				>
					<li><a href="/">home</a></li>
					<li tabindex="0">
						<a class="justify-between">
							Parent
							<svg
								class="fill-current"
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" /></svg
							>
						</a>
						<ul class="p-2">
							<li><a>Submenu 1</a></li>
							<li><a>Submenu 2</a></li>
						</ul>
					</li>
					<li><a href="/quiz/0">Quiz</a></li>
				</ul>
			</div>
			<a class="btn btn-ghost normal-case text-xl">daisyUI</a>
		</div>
		<div class="navbar-center hidden lg:flex">
			<ul class="menu menu-horizontal px-1">
				<li><a href="/">Home</a></li>
				<li tabindex="0">
					<a>
						Parent
						<svg
							class="fill-current"
							xmlns="http://www.w3.org/2000/svg"
							width="20"
							height="20"
							viewBox="0 0 24 24"
							><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" /></svg
						>
					</a>
					<ul class="p-2">
						<li><a>Submenu 1</a></li>
						<li><a>Submenu 2</a></li>
					</ul>
				</li>
				<li><a href="/quiz/0">Quiz</a></li>
			</ul>
		</div>
		<div class="navbar-end">
			<a class="btn">Get started</a>
		</div>
	</div>

	<div class="mt-3 mb-5">
		<p>Layout - Начало</p>
		<p>data.session:</p>
		<div>
			{JSON.stringify(data.session)}
		</div>
	</div>
	<div class="mt-3 mb-5">
		<p>props data:</p>
		<div>
			{JSON.stringify(data)}
		</div>

		<p>Layout - Конец</p>
	</div>

	<slot />

	<!-- https://stackoverflow.com/questions/59812003/tailwindcss-fixed-sticky-footer-on-the-bottom -->
	<footer style="margin-bottom: 5px;" class="  footer p-10 bg-neutral text-neutral-content">
		<div>
			<span class="footer-title">Services</span>
			<a class="link link-hover">Branding</a>
			<a class="link link-hover">Design</a>
			<a class="link link-hover">Marketing</a>
			<a class="link link-hover">Advertisement</a>
		</div>
		<div>
			<span class="footer-title">Company</span>
			<a class="link link-hover">About us</a>
			<a class="link link-hover">Contact</a>
			<a class="link link-hover">Jobs</a>
			<a class="link link-hover">Press kit</a>
		</div>
		<div>
			<span class="footer-title">Legal</span>
			<a class="link link-hover">Terms of use</a>
			<a class="link link-hover">Privacy policy</a>
			<a class="link link-hover">Cookie policy</a>
		</div>
	</footer>
</div>

<style lang="postcss">
	:global(html, body) {
		min-height: 100vh;
	}
	:global(body) {
		background-color: theme(colors.gray.200);
	}
</style>
