<script>
	import { getStores, navigating, page, updated } from '$app/stores';
	import { goto, afterNavigate } from '$app/navigation';
	import { base } from '$app/paths';

	let res = $page.url.searchParams.get('data');
	console.log(res, $page.url, $page.params);

	let prevPage = base;

	afterNavigate(({ from }) => {
		prevPage = from?.url.pathname || prevPage;
	});

	const back = () => {
		goto(prevPage);
		//history.back();
	};
</script>

<h1>RESULT - {res}</h1>
<div>
	<button on:click={() => back()}>Back</button>
</div>
